// General style

$li_vertical_padding: 1ex;


// Ingredient list

$ingredient_vertical_space: 1ex;
$ingredient_vertical_space_line: 2ex;
$ingredient_horizontal_space: 1em;


// Responsiveness

$width_med: 420px;
$width_large: 600px;

$font_size_small: 10pt;
$font_size_med: 10.5pt;
$font_size_large: 11pt;
