@import 'params';

body {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 11pt;
    width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

header {
    text-align: center;
    a {
        color: black;
        text-decoration: none;
    }
}


ol li {
    margin-bottom: $li_vertical_padding;
}

table.ingredients {
    border-collapse: collapse;

    thead th {
        padding-bottom: $ingredient_vertical_space_line/2;
        font-weight: bold;
        border-bottom: 1px solid black;
    }

    tbody tr:first-child td {
        padding-top: $ingredient_vertical_space_line/2;
    }

    td, th  {
        padding-top: $ingredient_vertical_space/2;
        vertical-align: top;
        padding-left: $ingredient_horizontal_space/2;
        padding-right: $ingredient_horizontal_space/2;

        &:first-child {
            text-align: right;
            white-space: nowrap;
            padding-left: 0;
        }

        &:nth-child(2) {
            text-align: left;
            white-space: nowrap;
        }
    }
}
