@import 'params';

body {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: $font_size_small;

    @media (min-width: $width_med) {
        font-size: $font_size_med;
    }
    @media (min-width: $width_large) {
        font-size: $font_size_large;
    }
    max-width: $width_large;
    margin: 0 auto;
    padding: 0 1em;
}

h1 {
    text-align: center;
}

header {
    text-align: center;
    a {
        color: black;
        text-decoration: none;
    }

    font-size: calc(min(2.5vw, 15px));
}


ol li {
    margin-bottom: $li_vertical_padding;
}

table.ingredients {
    border-collapse: collapse;

    thead th {
        padding-bottom: $ingredient_vertical_space_line/2;
        font-weight: bold;
        border-bottom: 1px solid black;
    }

    tbody tr:first-child td {
        padding-top: $ingredient_vertical_space_line/2;
    }

    td, th  {
        padding-top: $ingredient_vertical_space/2;
        vertical-align: top;
        padding-left: $ingredient_horizontal_space/2;
        padding-right: $ingredient_horizontal_space/2;

        &:first-child {
            text-align: right;
            @media (min-width: $width_med) {
                white-space: nowrap;
            }
            padding-left: 0;
        }

        &:nth-child(2) {
            text-align: left;
            @media (min-width: $width_med) {
                white-space: nowrap;
            }
        }
    }
}
