body {
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 10pt;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em; }
  @media (min-width: 420px) {
    body {
      font-size: 10.5pt; } }
  @media (min-width: 600px) {
    body {
      font-size: 11pt; } }
h1 {
  text-align: center; }

h2 {
  text-indent: 1.5em; }

header {
  text-align: center;
  font-size: calc(min(2.5vw, 15px)); }
  header a {
    color: black;
    text-decoration: none; }

ol li {
  margin-bottom: 1ex; }

table.ingredients {
  border-collapse: collapse; }
  table.ingredients thead th {
    padding-bottom: 1ex;
    font-weight: bold;
    border-bottom: 1px solid black; }
  table.ingredients tbody tr:first-child td {
    padding-top: 1ex; }
  table.ingredients td, table.ingredients th {
    padding-top: 0.5ex;
    vertical-align: top;
    padding-left: 0.5em;
    padding-right: 0.5em; }
    table.ingredients td:first-child, table.ingredients th:first-child {
      text-align: right;
      padding-left: 0; }
      @media (min-width: 420px) {
        table.ingredients td:first-child, table.ingredients th:first-child {
          white-space: nowrap; } }
    table.ingredients td:nth-child(2), table.ingredients th:nth-child(2) {
      text-align: left; }
      @media (min-width: 420px) {
        table.ingredients td:nth-child(2), table.ingredients th:nth-child(2) {
          white-space: nowrap; } }
