{{ define "title" }}
{{- $.Site.Title }} — {{ .Page.Title -}}
{{ end }}

{{ define "content" }}
    <h1> {{ .Params.title }} </h1>
    {{ if .Params.photo }}
        <a href="/media/{{ .File.Dir }}{{ .File.BaseFileName }}/main.orig.jpg" title="Photo en plus grand">
            <img alt="Photo de la recette" src="/media/{{ .File.Dir }}{{ .File.BaseFileName }}/main.min.jpg" />
        </a>
    {{ end }}
    <h2> Méta-données </h2>
    {{ with .Params.portions }}
        {{- if (and (isset . "qt") (isset . "nom")) -}}
            Pour {{ .qt | markdownify }} {{ .nom | markdownify }}
        {{- else -}}
            Pour {{ . | markdownify }} personne{{- if not (eq . 1) -}}s{{- end -}}
        {{- end -}}
    <br /> {{ end }}
    {{ with .Params.vegan }} {{- partial "pp_vegan.html" . -}} <br /> {{ end }}
    {{ with .Params.quali }} Recette bien poncée <br /> {{ end }}
    {{ with .Params.origine }} Origine :  {{ . | markdownify }} <br /> {{ end }}

    <h2> Ingrédients </h2>

    <table class="ingredients">
        <thead>
            <tr class="ingredient">
                <th>Quantité</th>
                <th>Ingrédient</th>
            </tr>
        </thead>
        <tbody>
            {{ range $.Param "ingredients" }}
            {{- if (isset . "section") -}}
            {{ if not (and (isset (index $.Params.ingredients 0) "section") (eq (index $.Params.ingredients 0).section .section)) }}
        </tbody>
        <tbody>
            {{ end }}
            <tr class="section"><th colspan="2">{{ .section | markdownify }}</th></tr>
            {{- else -}}
            <tr class="ingredient">
                <td>{{ .qt | markdownify }}</td>
                <td>{{ .nom | markdownify }}</td>
                {{ with .comm }} <td>({{ . | markdownify }})</td> {{ end }}
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>

    {{ .Content }}
{{ end }}
